/* HOJA DE CSS DEL MENU FLOTANTE PRINCIPAL*/


/*Reseteo de CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Tambien HTML5*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/*Cominezo codigo*/

#topmenu{
	width:98%;
	margin-right: 2%;
	text-align: right;
}

#topmenu li {
	display: inline;
	font-size: 0.7em;
	
}

#topmenu a {
	color:black;
}

#topmenu a:hover {
	color:#F9B701;
}

#menu{
	position:relative;
	width: 50%;
	margin-left:43%;
	height: 15.5%;
	background-color:#F9B701;
	border:2px solid #F9B701;
	top:50%;
}

#navegador{
	
	width: 100%;
	margin-left:3.5%;
	height: 100%;
	top:20%;
	display:inline;
	text-align: center;
	position: relative;
}

#navegador li{
	margin:auto;
	height: 100%;
	margin-top:0px;
	display:inline;
	font-size: 1.3em;
	margin-left: 10px;
	
}
	
#navegador a{
	
	text-decoration: none;
	height: 100%;
	color: black;
	display:inline;
	
	
}

#navegador a:hover{
	text-decoration: none;
	color: white;
	display:inline;
}

#subnavegador{
	z-index: 5;
	margin:auto;
	display:block;
	position: absolute;
	visibility: hidden;
	width: 30%;
	left:52.5%;
	margin-top: 0px;
	
}

#subnavegador li{
	z-index: 6;
	background-color: #FCCA40;
	margin:auto;
	display:block;
	position: relative;
	text-align: left;
	font-size: 1em;
	top: -2px;
}

#subnavegador a{
	text-decoration: none;
	color: black;
	
}

#subnavegador li:hover{
	background-color: #F9B701;
	margin:auto;
	display:block;
	position: relative;
	text-align: left;
}



